torch
torchvision
numpy
pandas
matplotlib
tqdm
h5py
scikit-learn
python-dotenv
pillow
tensorboard
ipykernel
notebook
opencv-python
seaborn
gradio
gradio_client
transformers
mlflow
pyyaml
pyarrow
pytest
